@media screen and (max-width: 767px) {
    body{
        background-color: #7c92ff;
    }
    header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .logo{
    height: 2.5cm;
    width: 2.5cm;
    }
    .contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
    }
    .navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
    }
    a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7c92ff;
    }
    .bolsa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c92ff;
        border: 2px solid #000;
    }
    @keyframes letra{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    h2{
        text-align: center;
    }
    .bolsa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgBolsa{
    height: 5cm;
    width: 5cm;
    }
    .lista{
    max-width: 150px;
    }
}
@media screen and (min-width:768px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c92ff;
    }
    header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
    }
    .logo{
    height: 5cm;
    width: 5cm;
    }
    .contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
    }
    .navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
    }
    a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7c92ff;
    }
    .bolsa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:500px;
        background-color: #7c92ff;
        border: 2px solid #000;
    }
    @keyframes letra{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    h2{
        text-align: center;
    }
    .bolsa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgBolsa{
    height: 5cm;
    width: 5cm;
    }
    .lista{
        max-width: 150px;
    }
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c92ff;
}
header{
display: flex;
flex-direction: row;
justify-content: center;
background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
background-repeat: no-repeat;
background-size: cover;
height: 7cm;
}
.logo{
height: 5cm;
width: 5cm;
}
.contenedorNav{
display: flex;
flex-direction: row;
justify-content: center;
background-color: #7c92ff;
}
.navegador li {
background-color: #7c92ff;
display: flex;
flex-direction:column;
justify-content:start;
max-height: 126px; 
}
a{
background-color: #7c92ff;
outline: none;
text-decoration:none;
font-family: Verdana;
color: #000;
animation-name: letra;
animation-duration: 2s;
animation-fill-mode: forwards;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c92ff;
}
.bolsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
    background-color: #7c92ff;
    border: 2px solid #000;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
h2{
    text-align: center;
}
.bolsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgBolsa{
height: 5cm;
width: 5cm;
}
.lista{
    max-width: 150px;
}