@media screen and (max-width: 767px) {
    body{
        background-color: #7c92ff
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo{
        height: 5cm;
        width: 5cm;
    }
    .contenedorNav{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        background-color:#7c92ff;
        margin: 20px;
        padding: 10px;
        min-height: 100px;
        min-width: 100px;    }
    a{
        outline: none;
        text-decoration:none;
        font-family: Verdana;
        font-style: normal;
        color: #000;
    }
    main{
        margin-top: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:bottom; 
    }
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:top;
    }
    .titulo{
    font-family: Verdana;
    font-style: normal;
    text-align: center;
    }
    .presenta{
        font-family: Verdana;
        font-style:normal;
        text-align: center;
    }
    .estandar{
        font-family: Verdana;
        font-style:normal;
        text-align: center;
    }
    .brownie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .RecetaSt{
            display: flex;
            flex-direction: column;
        justify-content: center;
        }
}
@media screen and (min-width: 768px) {
    body{
        background-color: #7c92ff
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 7cm;
    }
    .logo{
        height: 5cm;
        width: 5cm;
    }
    .contenedorNav{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        background-color:#7c92ff;
        height:50px;
        border: 1px groove #000;
    }
    .navegador li {
            display: inline-block;
            align-items: center;
            height: 10px; 
            margin: 5px;
            padding: 10px;
    }
    a{
        outline: none;
        text-decoration:none;
        font-family: Verdana;
        font-style: normal;
        color: #000;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:top;
    }
    .caja{
        border: #000 1px;
        margin: 10px;
        padding: 10px;
    }
    .titulo{
    font-family: Verdana;
    font-style: normal;
    text-align: center;
    }
    .presenta{
        font-family: Verdana;
        font-style:normal;
        text-align: center;
    }
    .estandar{
        font-family: Verdana;
        font-style:normal;
        text-align: center;
    }
    .brownie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .RecetaSt{
            position: relative;
            left: 120px;
    }
    }   
@media screen and (min-width: 1024px) {
body{
    background-color: #7c92ff
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color:#7c92ff;
    height:50px;
    border: 1px groove #000;
}
.navegador li {
        display: inline-block;
        align-items: center;
        height: 10px; 
        margin: 5px;
        padding: 10px;
}
a{
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    font-style: normal;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:top;
}
.caja{
    border: #000 1px;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family: Verdana;
font-style: normal;
text-align: center;
}
.presenta{
    font-family: Verdana;
    font-style:normal;
    text-align: center;
}
.estandar{
    font-family: Verdana;
    font-style:normal;
    text-align: center;
}
.brownie{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
    .RecetaSt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}   