@media screen and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
body{
    background-color: #7c92ff;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 2.5cm;
    width: 2.5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
} 
main{
    background-color: #7c92ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c92ff;
    margin: 50px;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 125px;
    height: 125px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    margin-right: 90px;
}
}

@media screen and (min-width: 768px) {
    *{
        margin: 0px;
        padding: 0px;
    }

body{
    background-color: #7c92ff;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
} 
main{
    background-color: #7c92ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #7c92ff;
    margin: 50px;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 250px;
    height: 250px;
}
.list{
    max-width: 200px;
    position: relative;
}
}
@media screen and (min-width: 1024px) {
    *{
        margin: 0px;
        padding: 0px;
    }

body{
    background-color: #7c92ff;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
} 
main{
    background-color: #7c92ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #7c92ff;
    margin: 50px;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 250px;
    height: 250px;
}
.list{
    max-width: 200px;
    position: relative;
}
}