@media screen and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    background-color: #7c92ff ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-style:2px  solid color #7c89ff;
}
.logo{
    height: 2.5cm;
    width: 2.5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
    margin: 20px;
    padding: 20px;
}
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: Verdana;
    font-style: italic;
    text-align: center;
    animation-name: letra;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    }
}
@media screen and (min-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    background-color: #7c92ff ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
    animation-name: agrandando;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes agrandando{
    0%{height: 0px;}
    100%{height: 20px;}
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;

}
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: Verdana;
    font-style: italic;
    text-align: center;
    animation-name: letra;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    }
}
@media screen and (min-width:1024px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    background-color: #7c92ff
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
margin-left: 170px
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
font-family: Verdana;
font-style: italic;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
}