body{
    top: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #ffeb90;
    border: 2px solid #000;
}
header{
height: 7cm;
background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
background-size: cover;
background-repeat: no-repeat;
}
.logo { 
    height: 5cm;
    width: 5cm;
    position: relative;
    left: 600px;
    top: 80px;
}
a{
    outline: none;
    text-decoration: none;
    font-size: 1,5px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}
.navegador li{
    display: inline-block;
    position:relative;
    left: 40px;
    width: 150px; 
    height: 10px; 
    margin: 10px;
    padding: 10px;
    border: 1px inset #000 
}
section{
    width: 965px;/* para que se ajuste */
    height: 965px;
}
li{
    display:inline-block;
    position:relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px ridge #000;
}

table{
    border-spacing: 50px;
}
th{
    position: relative;
    left: 250px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
}
.producto{
    width: 200px;
    height: 200px;
}
td{
    position: relative;
    left: 330px;
    width: max-content;
    height: max-content;
}
