    @media screen and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    background-color: #7c92ff ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-style:2px  solid color #7c89ff;
}
.logo{
    height: 2.5cm;
    width: 2.5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.sobreCali{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.caja{
    border: #000 1px;
    border-style: oblique;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
.presenta{
font-family: Verdana;
font-style: oblique;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
iframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    max-height: 200px;
}
.form{
    display: flex;
    flex-direction: row;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:50px ;
    position: relative;
    left: 80px;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
}
@media screen and (min-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    background-color: #7c92ff ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
    animation-name: agrandando;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes agrandando{
    0%{height: 0px;}
    100%{height: 20px;}
}

a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
}
.sobreCali{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.caja{
    border: #000 1px;
    border-style: oblique;
    margin: 10px;
    padding: 10px;
}
@keyframes agrandado{
    0%{height: 30px;}
    100%{height: 240px;}
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
.presenta{
font-family: Verdana;
font-style: oblique;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
.videoYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
iframe{
    width: 560px;
    height: 315px;
}
.form{
    display: flex;
    flex-direction: row;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}   
}
@media screen and (min-width:1024px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    background-color: #7c92ff
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    max-height: 126px; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
    animation-name: letra;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
}
.sobreCali{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.caja{
    border: #000 1px;
    border-style: oblique;
    margin: 10px;
    padding: 10px;
}
@keyframes agrandado{
    0%{height: 30px;}
    100%{height: 240px;}
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
.presenta{
font-family: Verdana;
font-style: oblique;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
.videoYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
iframe{
    width: 560px;
    height: 315px;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
}