    @media screen and (max-width: 767px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "header"
    "navegador"
    "main"
    "footer";
    background-color: #7c92ff ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-style:2px  solid color #7c89ff;
    grid-area: header;
}
.logo{
    height: 2.5cm;
    width: 2.5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    background-color: #7c92ff;
}
.navegador li {
    background-color: #7c92ff;
    display: flex;
    flex-direction:column;
    justify-content:start;
    grid-area: nav;
    max-height: 126px; 
}
a{
    background-color: #7c92ff;
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
}
.sobreCali{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caja{
    border: #000 1px;
    border-style: oblique;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family:Verdana;
font-style: italic;
text-align: center;
}
.presenta{
    font-family:Verdana;
    font-style:normal;
    text-align: center;
}
iframe{
    margin: 10px;
    padding: 10px;
    max-width: 340px;
    max-height: 200px;
}
.form{
    display: flex;
    flex-direction: row;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
}
@media screen and (min-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-template-areas: 
    "header"
    "navegador"
    "main"
    "footer";
    background-color: #7c92ff ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
    grid-area: header;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color:#7c92ff;
    height:50px;
}
.navegador li {
        display: inline-block;
        align-items: center;
        height: 10px; 
        margin: 5px;
        padding: 10px;
}
.caliope{
    position: relative;
    left: 100px;
    height: 300px;
    width: 400px;
}
a{
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    font-style: italic;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
}
.sobreCali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:top;
}
.caja{
    border: #000 1px;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
}
.presenta{
    font-family: Verdana;
    font-style:oblique;
    text-align: center;
}
.videoYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
iframe{
    width: 560px;
    height: 315px;
}
.form{
    display: flex;
    flex-direction: row;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}   
}
@media screen and (min-width:1024px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-template-areas: 
    "header"
    "navegador"
    "main"
    "footer";
    background-color: #7c92ff
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
    grid-area: header;
}
.logo{
    height: 5cm;
    width: 5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color:#7c92ff;
    height:50px;
    border: 1px groove #000;
}
.navegador li {
        display: inline-block;
        align-items: center;
        height: 10px; 
        margin: 5px;
        padding: 10px;
}
a{
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    font-style: normal;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
}
.sobreCali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:top;
}
.caja{
    border: #000 1px;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family: Verdana;
font-style: normal;
text-align: center;
}
.presenta{
    font-family: Verdana;
    font-style:normal;
    text-align: center;
}
.videoYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
iframe{
    width: 560px;
    height: 315px;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
}