@media screen and (max-width: 767px) { 
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "header"
    "navegador"
    "main"
    "footer";
    background-color: #ffeb90 ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-style:2px  solid color #7c89ff;
    grid-area: header;
}
.logo{
    height: 2.5cm;
    width: 2.5cm;
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    background-color: #7c92ff;
    height: 20px;
    animation-name: agrandando;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes agrandando{
    0%{height: 10px;}
    100%{height: 120px;}
}
.navegador li {
    display: flex;
    flex-direction:column;
    justify-content:start;
    grid-area: nav;
}
.inicio{
    opacity: 1;
    color: #000;
}
a{
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    font-style: italic;
    color: #000;
    animation-name: letra;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes letra{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
}
.sobreCali{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    animation-name: agrandado;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.caja{
    border: #000 1px;
    border-style: oblique;
    margin: 10px;
    padding: 10px;
}
@keyframes agrandado{
    0%{height: 30px;}
    100%{height: 240px;}
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
animation-name: letra;
animation-duration: 3s;
animation-fill-mode: forwards;
}
.presenta{
    font-family: Verdana;
    font-style: oblique;
    text-align: center;
    animation-name: letra;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
iframe{
    margin: 10px;
    padding: 10px;
    max-width: 340px;
    max-height: 200px;
}
.form{
    display: flex;
    flex-direction: row;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
}
@media screen and (min-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-template-areas: 
    "header"
    "navegador"
    "main"
    "footer";
    background-color: #ffeb90 ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1cm;
    grid-area: header;
    animation-name: header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes header {
    from{
        height: 1cm;
    }
    to {
        height:7cm;
    }
}
.logo{
    height: 5cm;
    width: 5cm;
    animation-name: logo;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes logo {
    0%{ opacity:0 ;}
    100%{ opacity:1 ;}
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color:#7c92ff;
    height: 50px;
}
.navegador li {
        display: inline-block;
        align-items: center;
        height: 10px; 
        margin: 5px;
        padding: 10px;
}
a{
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    font-style: italic;
    color: #000;
    animation-name: links;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes links {
    0%{ opacity:0 ;}
    100%{ opacity:1 ;}
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
    animation-name: links;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.sobreCali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:top;
}
.caja{
    border: #000 1px;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
}
.presenta{
    font-family: Verdana;
    font-style:oblique;
    text-align: center;
    }
.videoYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
iframe{
    width: 560px;
    height: 315px;
}
.form{
    display: flex;
    flex-direction: row;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}   
}
@media screen and (min-width:1024px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-template-areas: 
    "header"
    "navegador"
    "main"
    "footer";
    background-color: #ffeb90 ;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://imag.bonviveur.com/pasta-fresca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7cm;
    grid-area: header;
    animation-name: inicio;
    animation-duration: 2s;
    animation-fill-mode: forwards;    
}
@keyframes inicio {
    0%{opacity:0 ;}
    100%{opacity:1 ;}
}
.logo{
    height: 5cm;
    width: 5cm;
    animation-name: inicio;
    animation-duration: 4s;
    animation-fill-mode: forwards;   
}
.contenedorNav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color:#7c92ff;
    height:50px;
    animation-name: inicio;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}
.navegador li {
        display: inline-block;
        align-items: center;
        height: 10px; 
        margin: 5px;
        padding: 10px;
}
.caliope{
    position: relative;
    left: 100px;
    height: 300px;
    width: 400px;
}
a{
    outline: none;
    text-decoration:none;
    font-family: Verdana;
    font-style: italic;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    grid-area: main;
    animation-name: inicio;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}
.sobreCali {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:top;
}
.caja{
    border: #000 1px;
    margin: 10px;
    padding: 10px;
}
.titulo{
font-family: Verdana;
font-style: italic;
text-align: center;
opacity: 1;
}

.presenta{
    font-family: Verdana;
    font-style:oblique;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.presenta:hover{
    opacity: 1;
}

.videoYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
iframe{
    width: 560px;
    height: 315px;
}
.form{
    display: flex;
    flex-direction: row;
    animation-name: inicio;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
}
.contenedorForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.formContent{
    max-width:100px ;
    position: relative;
    left:60px;
}
.Registro{
    height: 2.5cm;
    width: 2.5cm;
}
.itemsRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
}   
}